<div class="container">
  <h3>検索結果</h3>

  ルート:<%= @routes %><br>

  ベストパス:<%= @best_path %><br>

  スコア:<%= @scores %><br>

  タイムマトリックス:<%= @time_matrix %><br>



  available:<%= @available %><br>

  arrival:<%= @arrival %><br>

  departure:<%= @departure %><br>

  <%= @departure %>

  パス:<%= @paths %><br>

  origin:<%= @origin %><br>
  destinations:<%= @destinations %><br>

  string:<%= simple_format(@string) %><br>

  <% if @mapnotview.nil? %>
    <div id='map' class="mt-4" style="width:600px; height:600px"></div>
  <% end %>


</div>





<script>map.js</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRj-HjvK8Jz8IHzMeWkcnhcG1FMpi6aNM&callback=initMap" ></script>
