<h4>出発地：<%= @origin %></h4>

<% loop_counter = 1 %>
<% @keiyu_array.each do |a| %>
    <h4>経由地(<%= loop_counter.to_s %>)：<%= a %></h4>
    <% loop_counter = loop_counter +1 %>
<% end %>

<h1>検索結果</h1>


<%= @hour %>:<%= @minute %>  <%= @origin %> 
</br>
↓
</br>
<%= @sk_h %>:<%= @sk_m %>  <%= @near1 %>  
</br>
↓
</br>
<%= @kk_h %>:<%= @kk_m %>  <%= @near2 %> 
<br>
