<div class="container">
  <h3>検索結果</h3>


<%= @hour %>:<%= @minute %>  <%= @origin %> 
</br>
↓
</br>
<%= @sk_hour %>:<%= @sk_minute %>  <%= @near1 %>  
</br>
↓
</br>
<%= @kk_h %>:<%= @kk_m %>  <%= @near2 %> 
<br>
</div>
<div id='map'></div>


<script>map.js</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRj-HjvK8Jz8IHzMeWkcnhcG1FMpi6aNM&callback=initMap"></script>
