<div class="container">
  <h3>検索結果</h3>


<%= @hour %>:<%= @minute %>  <%= @origin %> 
</br>
↓
</br>

# 時間以内に行けるかどうかの判断(時間オーバーの場合の変数の更新))
# もともとdestination_formで作成しておく必要がある
<% if @destination_1 == @near1 %>
  <% if @sk_hour > @c_hour %>

  <% end %>

  <% if @gokei_sd2d1_h > @c_hour %>

  <% end %>
<% elsif @destination_1 == @near2 %>
  <% if @skk_h > @c_hour %>

  <% end %>

  <% if @gokei_sd1_h > @c_hour %>

  <% end %>
<% end %>


<% if @destination_1 == @near1 %>


  <% if @orderz <= @reversez %>

    <%= @sk_hour %>:<%= @sk_minute %>  <%= @near1 %>  時間指定(<%= @c_hour%>:<%= @c_minute%>)
    </br>
    ↓
    </br>
    <%= @skk_h %>:<%= @skk_m %>  <%= @near2 %> 
  <% else %>

    <% @near1,@near2 = @near2, @near1%>

    <%= @gokei_sd2_h  %>:<%= @gokei_sd2_m %>  <%= @near1 %>
    </br>
    ↓
    </br>
    <%= @gokei_sd2d1_h %>:<%= @gokei_sd2d1_m %>  <%= @near2 %>   時間指定(<%= @c_hour%>:<%= @c_minute%>)
  <% end %>
<% elsif @destination_1 == @near2 %>
  <% if @orderz <= @reversez %>
    <%= @sk_hour %>:<%= @sk_minute %>  <%= @near1 %>  
    </br>
    ↓
    </br>
    <%= @skk_h %>:<%= @skk_m %>  <%= @near2 %>  時間指定(<%= @c_hour%>:<%= @c_minute%>)
  <% else %>

    <% @near1,@near2 = @near2, @near1%>

    <%= @gokei_sd1_h %>:<%= @gokei_sd1_m %>  <%= @near1 %>  時間指定(<%= @c_hour%>:<%= @c_minute%>)
    </br>
    ↓
    </br>
    <%= @gokei_sd1d2_h %>:<%= @gokei_sd1d2_m %>  <%= @near2 %>  
  <% end %>
<% end %>  


<br>

</div>
<div id='map' style="width:500px; height:500px"></div>


<script>map.js</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRj-HjvK8Jz8IHzMeWkcnhcG1FMpi6aNM&callback=initMap" ></script>