<div class="container mt-5">
  <%= form_tag("/create", method: "post", class: "box-center") do %>
    <h5>使い方:時間の入力は半角の「10:10」のような形式で指定してください</h5>
    <h1 class="text-center">出発地を入力してください</h1>
    <%= text_field_tag(:origin, '', :class=>'mb-3 mt-1', :placeholder=>'出発地を入力') %>

    </br>
    <!-- <h1 class="text-center">目的地を入力してください</h1> -->
    
    <div id="items">
      <%= text_field_tag('options[][depart]', '', :class=>'mb-3', :placeholder=>'出発時間を入力') %>
      <%= hidden_field_tag('options[][arrive]', '', :class=>'mb-3', :placeholder=>'時間を入力') %>
      <%= hidden_field_tag('options[][stay]', '', :class=>'mb-3', :placeholder=>'時間を入力') %>
        <div id="list">
          <section class="card" id="item">
            <h3 class="text-center">目的地を入力してください</h3>
            <%= text_field_tag('destinations[]', '', :class=>'mb-3 margin-10', :placeholder=>'目的地を入力') %>
            <h4>何時までに到着したいですか？</h4>
            <%= text_field_tag('options[][arrive]', '', :class=>'mb-3', :placeholder=>'時間を入力') %>

            <h4>滞在時間を入力してください</h4>
            <select class="ui search dropdown" name =<%=('options[][stay]')%>>
              # <!--https://code.i-harness.com/ja/q/35ae32を参考にデフォルト値の作成 -->
              <option value="" selected>指定なし</option>
              <% for h in 0..23 %>
                <option value="<%=h%>"><%=h%>時間</option> 
              <% end %>
            </select>
            <input type="button" value="－" class="del btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem">
          </section>
          <input type="button" value="＋" class="add btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem">
        </div>
    </div>
    <br>
    <%= submit_tag("検索する", :class=>"btn btn-secondary btn-lg")%>
  <% end %>

</div>

  