
<div class="container mt-5">
  <%= form_tag("/create", method: "post", class: "box-center") do %>
    <h1 class="text-center">出発地を入力してください</h1>
      <%= text_field_tag(:origin, '', :class=>'mb-3 mt-1') %>
    </br>

    <div class="hidden_box">
      <label for="label1">時間指定</label>
      <input type="checkbox" id="label1"/>
      <div class="hidden_show">
        <!--非表示ここから-->     

        <h3>出発時刻を入力してください</h3>
          <select class="ui search dropdown" name =<%=(:hour)%>>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
            </select>時
            <select class="ui search dropdown" name =<%=(:minute)%>>
              <option value="0">00</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>分
      <!--ここまで-->
      </div>
    </div>

    </br>

    <h1 class="text-center">目的地を入力してください</h1>

    <!--1つ目の目的地入力フォーム-->
      <%= text_field_tag(:destination_1, '', :class=>'mb-3') %>

      <!--「詳細設定」をクリックすると時間が指定できる-->
      <div class="hidden_box">
        <label for="labe2">詳細設定</label>
        <input type="checkbox" id="label2"/>
        <div class="hidden_show">
          <!--非表示ここから-->  
        </div>
      </div>

    </br>
    　
    <!--2つ目の目的地入力フォーム-->
      <%= text_field_tag(:destination_2, '', :class=>'mb-3') %>

      <!--「詳細設定」をクリックすると時間が指定できる-->
      <div class="hidden_box">
        <label for="labe2">詳細設定</label>
        <input type="checkbox" id="label2"/>
        <div class="hidden_show">
          <!--非表示ここから-->  
        </div>
      </div>

    </br>
    <%= submit_tag("検索する") %>
  <% end %>
</div>


