
<div class="container mt-5">
  <%= form_tag("/create", method: "post", class: "box-center") do %>
    <h1 class="text-center">出発地を入力してください</h1>
      <%= text_field_tag(:origin, '', :class=>'mb-3 mt-1') %>
    </br>

    <div class="hidden_box">
      <label for="label1">時間指定</label>
      <input type="checkbox" id="label1"/>
      <div class="hidden_show">
        <!--非表示ここから-->     

        <h3>出発時刻を入力してください</h3>
        <select class="ui search dropdown" name =<%=(:hour)%>>
        <% for h in 0..23 %>
          <option value="<%=h%>"><%=h%></option> 
        <% end %>
        </select>時
        <select class="ui search dropdown" name =<%=(:minute)%>>
        <% 0.step(50, 10) do |m| %>
          <option value="<%=m%>"><%=m%></option> 
        <% end %>
        </select>分
      <!--ここまで-->
      </div>
    </div>

    </br>

    <h1 class="text-center">目的地を入力してください</h1>
    <%= text_field_tag(:destination_1, '', :class=>'mb-3') %>
    <h4>経由時刻を入力してください</h4>
            <select class="ui search dropdown" name =<%=(:c_hour)%>>
              <% for h in 0..23 %>
                <option value="<%=h%>"><%=h%></option> 
              <% end %>
            </select>時

            <select class="ui search dropdown" name =<%=(:c_minute)%>>
              <% 0.step(50, 10) do |m| %>
                <option value="<%=m%>"><%=m%></option> 
              <% end %>
            </select>分
    <!--1つ目の目的地入力フォーム-->
      </div>
      <!--「詳細設定」をクリックすると時間が指定できる-->
      <div class="hidden_box">
        <label for="labe2">詳細設定</label>
        <input type="checkbox" id="label2"/>
        <div class="hidden_show">
          <!--非表示ここから-->  

            <!--ここまで-->
        </div>
      </div>
    </br>
    　
    <!--2つ目の目的地入力フォーム-->
      <%= text_field_tag(:destination_2, '', :class=>'mb-3') %>

      <!--「詳細設定」をクリックすると時間が指定できる-->
      <div class="hidden_box">
        <label for="labe2">詳細設定</label>
        <input type="checkbox" id="label2"/>
        <div class="hidden_show">
          <!--非表示ここから-->  
        </div>
      </div>


    </br>
    <%= submit_tag("検索する") %>
  <% end %>
</div>


