
<div class="container mt-5">
  <%= form_tag("/create", method: "post", class: "box-center") do %>
    <h3 class="text-center">出発地を入力してください</h3>
      <%= text_field_tag(:origin, '', :class=>'mb-3 mt-1') %>
    </br>

    <h2>出発時刻を入力してください</h1>
    <select class="ui search dropdown" name =<%=(:hour)%>>
      <% for h in 0..23 %>
        <option value="<%=h%>"><%=h%></option> 
      <% end %>
    </select>時

    <select class="ui search dropdown" name =<%=(:minute)%>>
      <% 0.step(50, 10) do |m| %>
        <option value="<%=m%>"><%=m%></option> 
      <% end %>
    </select>分

    </br>
    <h3 class="text-center">目的地を二箇所入力してください</h3>
      
      <div style="display:inline-flex">
        <%= text_field_tag(:destination_1, '', :class=>'mb-3') %>
          <h4>経由時刻を入力してください</h4>
            <select class="ui search dropdown" name =<%=(:c_hour)%>>
              <% for h in 0..23 %>
                <option value="<%=h%>"><%=h%></option> 
              <% end %>
            </select>時

            <select class="ui search dropdown" name =<%=(:c_minute)%>>
              <% 0.step(50, 10) do |m| %>
                <option value="<%=m%>"><%=m%></option> 
              <% end %>
            </select>分
      </div>
      
    </br>
      <%= text_field_tag(:destination_2, '', :class=>'mb-3') %>
    </br>
    <%= submit_tag("検索する") %>
  <% end %>
</div>


