
<div class="container">
  <%= form_tag("/create", method: "post") do %>
    <h1>出発地を入力してください</h1>
      <%= text_field_tag(:origin) %>
    </br>
    <h1>出発時刻を入力してください</h1>
      <%= text_field_tag(:hour) %>時
      <%= text_field_tag(:minute) %>分
    </br>
    <h1>目的地を入力してください</h1>
      <%= text_field_tag(:destination_1) %>
    </br>
      <%= text_field_tag(:destination_2) %>
    </br>
    <%= submit_tag("検索する") %>
  <% end %>
</div>


