<!DOCTYPE html>
<html>
  <head>
    <title>Mappy</title>
    <%= csrf_meta_tags %>
    <!-- Semantic UI を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script>url="https://maps.googleapis.com/maps/api/distancematrix/json?";</script>
    <script>
      var routes = [];
      <% unless @routes.nil? %>
        <% @routes.each{|route| %>
        routes.push("<%= route %>");
        <% } %>
      <% end %>
       origin ="<%= @routes[0] unless @routes.nil? %>";
      near = "<%= @routes[1] unless @routes.nil? %>";
       distant = "<%= @routes[2] unless @routes.nil? %>";
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>html, body, #map { width: 100%; height: 100%; }</style>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Sawarabi+Gothic" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <%= link_to "Mappy", root_path, { :class => "navbar-brand roboto" } %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "使い方", {:controller => "destination_form", :action => "help"}, { :class => "nav-link" } %>
            </li>
          </ul>
        </div>
      </nav>
    <%= yield %>
  </body>
</html>
