<!DOCTYPE html>
<html>
  <head>
    <title>TsuxiII</title>
    <%= csrf_meta_tags %>

    <!-- Semantic UI を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <script>url="https://maps.googleapis.com/maps/api/distancematrix/json?";</script>

    <script>
　    origin ="<%= @origin %>";
      near = "<%= @near1 %>";
      distant = "<%= @near2 %>";
      ar = "<%= @sk_res%>";
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>html, body, #map { width: 100%; height: 100%; }</style>
    

  </head>

  <body>
    <%= yield %>
  </body>
</html>